* { 
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    height: 100vh;
}

.main-container {
    display: flex;
    flex: 1;
}
.container {
    display: flex;
}

#container1 {
    display: flex;
    background-image: url(../sign-up-form/wolfgang-hasselmann-CY6MLcLvdX0-unsplash.jpg);
    background-size: cover;
    background-color: green;
    flex-direction: column;
    height: 100vh;
    min-width: 500px;
}

#container2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section {
    background-color: bisque;
    height: 200px;
    padding-left: 40px;
}

.form-section {
    flex: 1;
    padding-left: 40px;
    padding-top: 10px;
}

.form-container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 200px;
}

input {
    margin-bottom: 60px;
    position: relative;
    top: 10px;
}

button {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: none;
    background-color: darkolivegreen;
    color: aliceblue;
    font-weight: 700;
}