html, body {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
}
.container {
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
}

#container1 {
    display: flex;
    background-image: url(../sign-up-form/wolfgang-hasselmann-CY6MLcLvdX0-unsplash.jpg);
    background-size: cover;
    background-color: green;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

#container2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.section {
    background-color: bisque;
    height: 200px;
}


.form-section {
}